asgiref==3.2.10
boto3==1.19.0
botocore==1.22.0
certifi==2023.7.22
cffi==1.15.0
charset-normalizer==2.0.7
cryptography==43.0.1
Deprecated==1.2.13
dj-database-url==0.5.0
Django==4.2.16
django-crispy-forms==1.13.0
django-filter==21.1
django-heroku==0.3.1
django-jinja==2.9.1
django-oauth-toolkit==1.5.0
django-oauth2-provider==0.2.6.1
django-storages==1.12.2
django-widget-tweaks==1.4.8
django3-livesync==1
djangorestframework==3.15.2
gunicorn==22.0.0
idna==3.7
Jinja2==3.0.2
jmespath==0.10.0
jwcrypto==1.4
Markdown==3.3.4
MarkupSafe==2.0.1
oauthlib==3.2.2
Pillow==10.3.0
psycopg2==2.9.1
pycparser==2.20
python-dateutil==2.8.2
pytz==2021.3
requests==2.31.0
s3transfer==0.5.0
shortuuid==1.0.1
six==1.16.0
sqlparse==0.5.0
tornado==6.4.1
typing-extensions==3.10.0.0
urllib3==1.26.19
watchdog==2.1.6
websocket-client==1.2.1
whitenoise==5.3.0
wrapt==1.13.2
