<nav class="navbar fixed-top  navbar-expand-lg navbar-dark scrolling-navbar "
    style="background-color:#010409 !important;">
    <a class="navbar-brand" href="#">
        <img src="/static/images/logo.png" height="35">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'main:index' %}">Home<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="{% url 'main:quiz_list' %}" style="width: 930px;">Quizzes</a>
            <!-- {%if user.is_authenticated%}
            <a class="nav-item nav-link" href="#">Profile</a>
            <a class="nav-item nav-link" href="#">Logout</a>
            {%else%}
            <a class="nav-item nav-link" href="#">Login</a>
            <a class="nav-item nav-link" href="#">Signup</a>
            {%endif%} -->
        </div>
    </div>
</nav>