{% extends "layout/base.html" %}

{%load static%}
{%block script%} 
<!-- Optional JavaScript -->
<script src="{% static 'quiz.js' %}" defer></script>
{%endblock script%}


{% block title %}
{{quiz.name}}
{% endblock title %}

{% block content%}

<h1>{{quiz.name.upper}}  </h1>

<hr>
<h2 >Questions :</h2>
<br/>
<div id="form-div">
<form id="quiz-details-form" class="mt-3 mb-3">
    {% csrf_token %}
    <div id="quiz-div"></div>
    <button id="quize-submit-button" 
            type="submit" 
            class="btn btn-primary mt-3">
        Save
    </button>
</form>
</div>
{%endblock content%}