{% extends "layout/base.html" %}
{% load crispy_forms_tags %}


{% block title %}
    Update Quiz
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="col-sm" >Update {{quiz.name}} Quiz</h1>
            <a class="nav-item nav-link" id="create_quiz" href="{{request.url}} question/create/">Create Questions</a>
        </div>
        
        <hr>
        <div class="row"></div>
            {% if error %}
                {{ error }}-
            {% endif %}
            
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
            <input type="submit" value="Edit Post"/>
            </form>
         </div>
        <br/><br/>

        <!-- <form action="{% url 'main:quiz_create' %}" method="post">
            {% csrf_token %}
            <div class="content" id="create-quize">
                {% crispy form %}

            <button type="submit"  value="Edit Post" class="btn btn-primary">Update</button>
            </div>    
        </form> -->
    </div>
{% endblock %}
