
{% extends "layout/base.html" %}
{% load crispy_forms_tags %}
{%load static%}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'main.css'%}" />
{% endblock %}

{% block title %}
Profile
{% endblock title %}

{% block content%}
<div class="media">
  <img class="rounded-circle account-img" width="100 px" height="100px" src="{{user.profile.image.url}}" />
  <div class="media-body" style="padding-right: 25px;
padding-left: 25px;">
    <h2 class="account-heading">{{user.username}}</h2>
    <p class="text-secondary">{{user.email}}</p>
  </div>
  <form id="fs" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset  class="form-group" style="justify-content: center;">
      <legend  class="border-bottom mb-4 "> User infos </legend>
      


      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" value="{{user.username}}" >
      </div>
      <div>
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" value="{{user.email}}" >
      </div> 
      <div class="form-group">
        <label for="image">Image</label>
        <input type="file" class="form-control" id="image" name="image" value="{{user.profile.image}}" >
      </div>
     <!-- ceare div for user.profile.age -->
     <div class="form-group" >
       <label for="age">Age</label>
       <input type="number" class="form-control" id='age' name="age" value="{{user.profile.age}}" > 
     </div>

    </fieldset>
    <div class="form-group">
      <button class="btn btn-onlige-info" type="submit" style="background-color:#010409; color:#fff">
        Update
      </button>
    </div>
  </form>
</div>
{%endblock content%}